on init
    start hwservicemanager

service hwservicemanager /sbin/hwservicemanager
    user root
    disabled
    group root
    seclabel  u:r:hwservicemanager:s0
    onrestart class_reset hal
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks /dev/blkio/system-background/tasks
